---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head_common.html %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.0/codemirror.min.css">
    <script src = "fengari-web.js"></script>
    <script src = "lz-string.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.0/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.0/mode/lua/lua.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="script.js"></script>
</head>
<body>
    {% include header.html %}
    <div id="main">
        <div id="codeContainer">
            <textarea id="code"></textarea>
        </div>
        <div id="buttons">
            <button onclick="share();">Share</button>
            <button onclick="on_run_clicked();"><abbr title="ctrl-enter">Run</abbr></button>
        </div>
        <div id="outputContainer"></div>
    </div>
    <script>setup();</script>
</body>
</html>
