#container
{
    width: 100%;
    height: 60vh;
}

.CodeMirror
{
    width: 49%;
    height: 100%;
    border: 1px solid black;
    float: left;
}

#outputContainer
{
    width: 49%;
    height: 100%;
    border: 1px solid black;
    float: left;
    margin: 0px 0px 0px 10px;
    overflow: auto;
}

#output
{
    margin: 10px;
}

#buttons
{
    margin: 10px;
}

#chartCanvas
{
    width: 900px;
    margin: 0 auto;
}
