@import url('https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Mono&display=swap&subset=latin-ext');

body
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    margin: 0px;
    text-align: justify;
}

#header
{
    background-color: rgba(52, 152, 219, 1);
    margin: 0px;
    padding: 8px;
    width: 100%;

    color: white;
    font-size: 20px;
}

#header > img
{
    width: 85px;
    height: 85px;
    display: inline-block;
    vertical-align: middle;
}

#header > a
{
    margin: 0 0 0 20px;
    display: inline-block;
    vertical-align: middle;
}

#siteName
{
    font-weight: bold;
}

a:link, a:visited
{
    text-decoration: none;
    color: inherit;
}

a:hover
{
    text-decoration: underline;
}

#main
{
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
}

.CodeMirror
{
    height: 30vh;
    border: 1px solid lightgrey;
    font-family: 'Ubuntu Mono', monospace;
}

#outputContainer
{
    margin-top: 10px;
}

#buttons
{
    margin: 10px;
    text-align: right;
}

#buttons > button
{
    height: 1.6em;
}

.canvasContainer
{
    margin: 0px;
}

.textOutput
{
    margin: 1em 0;
    background-color: rgba(52, 152, 219, 0.1);
    border: 1px solid rgba(52, 152, 219, 0.5);
    border-radius: 2px;
    padding: 1em;
    font-family: 'Ubuntu Mono', monospace;
}

code
{
    font-family: 'Ubuntu Mono', monospace;
    background-color: rgba(27,31,35,.05);
    border-radius: 5px;
    padding: .05em .4em;
}

h2
{
    width: 100%;
    padding-top: 0.3em;
    border-top: 1px solid rgba(0,0,0, 0.3);
}

h1, h2, h3
{
    color: rgba(52, 152, 219, 1);
}
